// body{
//     background-image: url("https://img.freepik.com/free-vector/artistic-pink-watercolor-background_1116-212.jpg?w=740&t=st=1685694906~exp=1685695506~hmac=2421c55266f50e1f14bf7ea6d0fde8936f75dbb8935ce4fac40667aa0181d4f3");
//     background-repeat: no-repeat;
//     background-size:cover;
// }

.mat-toolbar {
    background-color: rgba(221, 14, 114, 0.434);
    color: white;
    
  }

  .navitems{
    list-style-type: none;
  display: flex;
  margin-left: auto;
  

  
  }

  a{
    color: white;
    text-decoration: none;
    // margin-right: 10px;
    
  }

  .active{
    color: blue;
  
  }
  // @media (min-width: 600px) {
  //   .navitems {
  //     display: flex;
  //   }
  // }
  .toolbar-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  
  .center-text {
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .center-text {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
    .log{
      font-size: 14px;
      
    }
  }